@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  font-family: "Lato", sans-serif;
  background-color: #bf7a6b;
  background-image: -webkit-linear-gradient(bottom left, #bf7a6b 0%, #e6d8a7 100%);
  background-image: linear-gradient(to top right,#bf7a6b 0%, #e6d8a7 100%);
  border: 0px;
  background-attachment: fixed;
}

